.search {
    display: flex;
    height: 5vh;
    .search__field {
        width: 70vw;
        border: 1px solid #913BF1;
    }
    
    .search__button {
        width: 6vh;
        // height: 5.6vh;
        border: 1px solid #913BF1;
        // background-image: linear-gradient(to bottom left, #913BF1, #AF43B2);
        background-image: url("/public/images/search.gif");
        background-size: cover;
    }
}

.giphy {
    width: 65vw;
    margin: 5vh;
}